apiVersion: v2
name: pga
description: A Helm chart for prometheus, grafana and alertmanager
type: application
version: 1.0.0
appVersion: 1.0.0
dependencies:
  - name: kube-prometheus-stack
    version: ~61
    repository: https://prometheus-community.github.io/helm-charts/
    alias: app
    tags:
      - monitoring
    condition: app.enabled

  - name: kube-prometheus-stack
    version: ~61
    repository: https://prometheus-community.github.io/helm-charts/
    alias: kube
    tags:
      - monitoring

  - name: prometheus-adapter
    version: ~4
    repository: https://prometheus-community.github.io/helm-charts/
    tags:
      - monitoring
    alias: adapter
    condition: adapter.enabled

  - name: prometheus-pushgateway
    version: ~2
    repository: https://prometheus-community.github.io/helm-charts/
    tags:
      - monitoring
    alias: pushgateway
    condition: pushgateway.enabled

  - name: prometheus-blackbox-exporter
    version: ~8
    repository: https://prometheus-community.github.io/helm-charts/
    tags:
      - blackbox
    alias: blackbox
    condition: blackbox.enabled

  - name: thanos
    version: 15.7.12
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - thanos
    alias: thanos
    condition: thanos.enabled