---
replicaCount: 2

debug: true

certificate:
    useCertManager: false
    generate: true
    server:
      tls:
        crt:
        key:
    ca:
      crt:

image:
  repository: quay.io/opstree/k8s-vault-webhook
  tag: 1.0
  pullPolicy: IfNotPresent
  imagePullSecrets: []

service:
  name: k8s-vault-webhook
  type: ClusterIP
  externalPort: 443
  internalPort: 8443

env:
  VAULT_IMAGE: vault:1.6.1
  SECRETS_CONSUMER_ENV_IMAGE: quay.io/opstree/k8s-secret-injector:1.0
  # SECRETS_CONSUMER_ENV_IMAGE_PULL_POLICY: Always
  # VAULT_CAPATH: /vault/tls
  # used when the pod that should get secret injected does not specify
  # an imagePullSecret
  # DEFAULT_IMAGE_PULL_SECRET:
  # DEFAULT_IMAGE_PULL_SECRET_NAMESPACE:

metrics:
  enabled: false
  port: 8443
  serviceMonitor:
    enabled: false
    scheme: https
    tlsConfig:
      insecureSkipVerify: true

volumes: []

volumeMounts: []

podAnnotations: {}

labels: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

## Assign a PriorityClassName to pods if set
priorityClassName: ""

rbac:
  enabled: true
  psp:
    enabled: false

# This can cause issues when used with Helm, so it is not enabled by default
configMapMutation: false

configmapFailurePolicy: Ignore

podsFailurePolicy: Ignore

secretsFailurePolicy: Ignore

apiSideEffectValue: NoneOnDryRun

namespaceSelector:
  matchExpressions:
  - key: name
    operator: NotIn
    values:
    - kube-system
  # matchLabels:
  #   vault-injection: enabled

# In case of the K8s cluster version is above 1.15 objectSelector is usable
# exclude objects with certain labels from admission
objectSelector: {}
  # matchExpressions:
  # - key: security.k8s-vault-webhook/mutate
  #   operator: NotIn
  #   values:
  #   - skip

podDisruptionBudget:
  enabled: true
  minAvailable: 1
