apiVersion: v2
name: vm
description: A Helm chart for victoriametrics
type: application
version: 0.0.1
appVersion: v0.0.1
maintainers:
  - name: ashwani-opstree

dependencies:
  - name: victoria-metrics-k8s-stack
    version: 0.25.5
    repository: https://victoriametrics.github.io/helm-charts/
    alias: vm
    tags:
      - monitoring
    condition: vm.enabled
  - name: prometheus-blackbox-exporter
    version: 8.17.0
    repository: https://prometheus-community.github.io/helm-charts/
    tags:
      - blackbox
    alias: blackbox
    condition: blackbox.enabled
