global:
  pdb:
    minAvailable: 1
  name:
    appName: mysql
    appLabel:
      app: mysql
      environment: prod
  replicaCount: 1
  containers:
    - name: mysql
      image: mysql
      tag: "8.0"
      pullPolicy: Always
      # command:
      #   - "--default-authentication-plugin=mysql_native_password"
      ports:
       - name: client
         port: 3306
      env:
        - name: MYSQL_ROOT_PASSWORD
          value: "test"
        - name: MYSQL_DATABASE
          value: admin
        - name: MYSQL_USER
          value: admin
        - name: MYSQL_PASSWORD
          value: admin
        - name: MYSQL_ALLOW_EMPTY_PASSWORD
          value: "no"

      resources:
        limits:
          memory: "1Gi"
          cpu: "1"
        requests:
          memory: "1Gi"
          cpu: "1"
      livenessProbe:
        tcpSocket:
           port: 3306
      readinessProbe:
        tcpSocket:
          port: 3306

      volumeMounts:
      - name: tz-config
        mountPath: /etc/localtime
      - name: data
        mountPath: /var/lib/mysql
      
  volumeClaim:
    name: data
    accessModes:
      - "ReadWriteOnce"
    storage: 10Gi

  affinity:
    podAntiAffinity:
      weight: 100
      key: app
      values:
      - mysql
      topologyKey: kubernetes.io/hostname
  service:
    type: ClusterIP
    headless: true
    ports:
      - port: 3306
        targetPort: 3306
  volumes:
    - name: tz-config
      hostPath:
         path: /usr/share/zoneinfo/Asia/Kolkata
