---
redisOperator:
  name: redis-operator
  imageName: quay.io/opstree/redis-operator
  # Overrides the image tag whose default is the chart appVersion.
  imageTag: ""
  imagePullPolicy: Always

  # Additional pod annotations
  podAnnotations: 
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Values.certificate.name }}
  # Additional Pod labels (e.g. for filtering Pod by custom labels)
  podLabels: {}

  # Additional arguments for redis-operator container
  extraArgs: []

  #  - -zap-log-level=error

# watch_namespace: ot-operators

resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 500m
    memory: 500Mi

replicas: 1

serviceAccountName: redis-operator

priorityClassName: ""
nodeSelector: {}
tolerateAllTaints: false
tolerations: []
affinity: {}

service:
  name: webhook-service
  namespace: webhook-service

certificate:
  name: serving-cert
  secretName: webhook-server-cert