---
redisStandalone:
  image: quay.io/opstree/redis
  tag: v7.0.5
  imagePullPolicy: IfNotPresent
  # redisSecret:
  #   secretName: redis-secret
  #   secretKey: password
  serviceType: ClusterIP
  resources: {}
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
    # limits:
    #   cpu: 100m
    #   memory: 128Mi

# labels:
#   foo: bar
#   test: echo

externalConfig:
  enabled: false
  data: |
    tcp-keepalive 400
    slowlog-max-len 158
    stream-node-max-bytes 2048

externalService:
  enabled: false
  # annotations:
  #   foo: bar
  serviceType: NodePort
  port: 6379

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s
  namespace: monitoring

redisExporter:
  enabled: true
  image: quay.io/opstree/redis-exporter
  tag: "v1.44.0"
  imagePullPolicy: IfNotPresent
  resources: {}
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
  # env:
  # - name: REDIS_EXPORTER_INCL_SYSTEM_METRICS
  #   value: "true"
  # - name: UI_PROPERTIES_FILE_NAME
  #   valueFrom:
  #     configMapKeyRef:
  #       name: game-demo
  #       key: ui_properties_file_name
  # - name: SECRET_USERNAME
  #   valueFrom:
  #     secretKeyRef:
  #       name: mysecret
  #       key: username

sidecars: []
  # - name: "sidecar1"
  #   image: "image:1.0"
  #   imagePullPolicy: Always
  #   resources:
  #     limits:
  #       cpu: 50m
  #       memory: 64Mi
  #     requests:
  #       cpu: 10m
  #       memory: 32M
  #   env:
  #   - name: VAR_NAME
  #     value: "value1"

# priorityClassName: "-"

# imagePullSecrets:
#  - name: regcred

nodeSelector: {}
  # memory: medium

storageSpec:
  volumeClaimTemplate:
    spec:
      # storageClassName: standard
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
  #   selector: {}

securityContext:
  runAsUser: 1000
  fsGroup: 1000

affinity: {}
  # nodeAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     nodeSelectorTerms:
  #     - matchExpressions:
  #       - key: disktype
  #         operator: In
  #         values:
  #         - ssd

# serviceAccountName: redis-sa
