{{- if .Values.hpa.enabled }}
apiVersion: {{ include "microservice.capabilities.hpa.apiVersion" ( dict "context" $ ) }}
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "microservice.fullname" . }}-hpa
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: {{ include "microservice.capabilities.deployment.apiVersion" . }}
    kind: Deployment
    name: {{ include "microservice.fullname" . }}-app
  minReplicas: {{ .Values.hpa.minReplicas }}
  maxReplicas: {{ .Values.hpa.maxReplicas }}
  metrics:
    {{- if .Values.hpa.targetMemory }}
    - type: Resource
      resource:
        name: memory
        {{- if semverCompare "<1.23-0" (include "microservice.capabilities.kubeVersion" .) }}
        targetAverageUtilization: {{ .Values.hpa.targetMemory }}
        {{- else }}
        target:
          type: Utilization
          averageUtilization: {{ .Values.hpa.targetMemory }}
        {{- end }}
    {{- end }}
    {{- if .Values.hpa.targetCPU }}
    - type: Resource
      resource:
        name: cpu
        {{- if semverCompare "<1.23-0" (include "microservice.capabilities.kubeVersion" .) }}
        targetAverageUtilization: {{ .Values.hpa.targetCPU }}
        {{- else }}
        target:
          type: Utilization
          averageUtilization: {{ .Values.hpa.targetCPU }}
        {{- end }}
    {{- end }}
{{- end }}
