{{- $root:= . }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.fullname" . }}-svc
  namespace: {{ .Values.global.namespace }}
  {{- if .Values.service.annotations }}
  annotations:
  {{- range $key, $value := .Values.service.annotations }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "microservice.selectorLabels" . | nindent 4 }}
  ports:
    {{- range $spec := .Values.service.specs }}
    - name: {{ $spec.name }}
      port: {{ $spec.port }}
      protocol: {{ $spec.protocol | default "TCP" }}
      {{- if $spec.targetPort }}
      targetPort: {{ $spec.targetPort }}
      {{- else }}
      targetPort: {{ $spec.name }}
      {{- end}}
      {{- if  $spec.nodePort }}
      nodePort: {{  $spec.nodePort }}
      {{- end }}
    {{- end -}}

