name: Install and Test Helm Chart

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.5.0
      with:
        cluster_name: kind

    - name: Install Helm
      uses: azure/setup-helm@v3
      with:
        version: v3.5.4

    - name: Install yq
      run: |
        sudo snap install yq

    - name: Install and test Redis Related Helm charts
      run: |
        kubectl cluster-info --context kind-kind
        chart_dirs=("redis-operator" "redis" "redis-cluster" "redis-replication" "redis-sentinel")
        for dir in "${chart_dirs[@]}"
        do
          chart_version=$(yq e .version ./charts/$dir/Chart.yaml)
          echo "Installing $dir chart with version $chart_version..."
          helm install $dir ./charts/$dir/ --version $chart_version
          helm test $dir
        done
        echo "Listing installed Helm charts..."
